// Default font
@mixin typeface {
	// From: Better Helvetica Font Stack http://j.mp/9t6O6Z
	font-family: "Helvetica Neue", Arial, sans-serif;
}

// Global transition
@mixin global-transition {
	@include transition(all, 150ms, ease-in-out);
}

// Inline Block + Zoom Fix
@mixin inline-block-zoom {
	@include inline-block;
	zoom: 1;
}

// A new micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
@mixin microfix {
	// For modern browsers
	&:before, &:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}

	@if $legacy-support-for-ie {
		// For IE 6/7 (trigger hasLayout)
		zoom : 1;
	}
}